AddDefaultCharset utf-8
AddCharset utf-8 *
<IfModule mod_charset.c>
	CharsetSourceEnc utf-8
	CharsetDefault utf-8
</IfModule>

RewriteEngine on

# если директория или файл существуют, использовать их напрямую
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# иначе отправлять запрос на файл index.php
RewriteRule . index.php